.media {
  width: 30% !important;
  height: auto !important;
}

.media-container {
  height: auto !important;
  background: #f3f3f3;
}

.logwrapper {
  max-height: unset !important;
}

.logexpander {
  display: none !important;
}

.log {
  top: 0px !important;
}
